body {
    background-color: black;
    font-size: 16px;
}

p, h1 {
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    max-width: 700px;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
}

img {
    max-width: 100%;
    height: auto;
}