body {
    background-color: black;
    font-size: 16px;
}

p, h1 {
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    color: lime;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

pre.typing::after {
    content: "█";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.container {
    width: 90%;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
}

img {
    max-width: 100%;
    height: auto;
}